@import "tailwindcss";

@layer base {
	html,
	body,
	#root {
		height: 100%;
	}

	body {
		@apply bg-gray-50 text-slate-900 antialiased;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply tracking-tight;
	}

	input,
	textarea,
	select {
		@apply bg-white;
	}
}